@import url("../media/resetFile.css");
@import url("../media/fonts.css");

.task-info {
    display: flex;
    justify-content: space-between;
}
.task-info .task-title{
    width: 25vw;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #0909cc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(115, 163, 230, 0.32);
}

.task-description {
    display: flex;
    font-family: "Gilroy Bold", "Consolas", serif;
}
.task-icon {
    margin-right: 10px;
    color: red;
}

.task-details{
    display: flex;
    font-family: "Gilroy Light", "Consolas", serif;
    justify-content: space-between;
}

.task-detail-item {
    width: 7em;
}
