.otpModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.otp-modal-content {
    background-color: #fff;
    padding: 20px;
    margin-left: 30em;
    margin-top: 20em;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}
